In [1]:
import pandas as pd

df_18 = pd.read_csv('MIGTAB025X.csv',sep="|")
df_columns_18 = pd.read_csv('Campos MIGTAB025X.csv',sep=";")
df_18.columns = df_columns_18['NombreColumna'].tolist()

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

In [2]:
df_18.head(5)

   red_operacion red_concepto  red_referencial red_signo  red_factor  red_porcentaje  red_fecha
0           6542          INT              515         +         0.0            5.27        NaN
1           6543          INT              515         +         0.0            5.27        NaN
2           6544          INT              515         +         0.0            5.27        NaN
3           6545          INT                2         +         0.0            2.00        NaN
4           6547          INT              515         +         0.0            5.33        NaN

In [3]:
df_columnasObligatorias = df_columns_18[df_columns_18['Obligatorio'] == 'S']['NombreColumna'].tolist()
df_Final = df_18[df_columnasObligatorias]
#df_Final.shape
nulos = df_Final.isnull().sum().reset_index()
nulos.columns = ['NombreColumna','CantidadNulos']
df_Columnas = nulos[nulos['CantidadNulos']> 0 ]['NombreColumna'].head(4).tolist()
nulos[nulos['CantidadNulos']> 0 ]

  NombreColumna  CantidadNulos
2     red_fecha             17