In [2]:
import pandas as pd

df_18 = pd.read_csv('../MIGTABO22X.csv',sep="|")
df_columns_18 = pd.read_csv('Campos MIGTAB022X.csv',sep=";")
df_18.columns = df_columns_18['NombreColumna'].tolist()

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

In [8]:
df_18.head(5)

   ts_operacion  ts_dividendo  ts_fecha ts_concepto  ts_porcentaje  ts_secuencial  ts_porcentaje_efa
0          6544             1  20171013         INT           5.27              1             5.3992
1          6549             1  20171130         INT           5.18              1             5.3048
2          6550             1  20171130         INT           5.18              1             5.3048
3          6551             1  20171128         INT           5.18              1             5.3048
4          6552             1  20171128         INT           5.18              1             5.3048

In [ ]:


# Cargar archivo CSV
df_22 = df_18

# Lista para errores
    errores = []

    # Validaciones

    # ts_operacion: NO NULL y ≠ 0
    val = df_22["ts_operacion"].isnull() | (df_22["ts_operacion"] == 0)
    errores.append(df_22[val][["ts_operacion"]].assign(campo_error="ts_operacion"))

    # ts_dividendo: NO NULL
    val = df_22["ts_dividendo"].isnull()
    errores.append(df_22[val][["ts_operacion"]].assign(campo_error="ts_dividendo"))

# ts_fecha: NO NULL
val = df_22["ts_fecha"].isnull()
errores.append(df_22[val][["ts_operacion"]].assign(campo_error="ts_fecha"))

# ts_concepto: NO NULL y válido ("INT", "IMO")
val = df_22["ts_concepto"].isnull() | ~df_22["ts_concepto"].isin(["INT", "IMO"])
errores.append(df_22[val][["ts_operacion"]].assign(campo_error="ts_concepto"))

# ts_porcentaje: NO NULL
val = df_22["ts_porcentaje"].isnull()
errores.append(df_22[val][["ts_operacion"]].assign(campo_error="ts_porcentaje"))

# ts_secuencial: NO NULL
val = df_22["ts_secuencial"].isnull()
errores.append(df_22[val][["ts_operacion"]].assign(campo_error="ts_secuencial"))

# ts_porcentaje_efa: NO NULL
val = (
    df_22["ts_porcentaje_efa"].isnull() |
    (~df_22["ts_concepto"].isin(["INT", "IMO"]) & (df_22["ts_porcentaje_efa"] != 0))
)
errores.append(df_22[val][["ts_operacion"]].assign(campo_error="ts_porcentaje_efa"))
# Concatenar errores
df_errores_22 = pd.concat(errores, ignore_index=True)

# Mostrar los errores únicos
print(df_errores_22.drop_duplicates())

Empty DataFrame
Columns: [ts_operacion, campo_error]
Index: []

In [13]:
df_22 = df_22[~df_22["ts_operacion"].isin(df_errores_22["ts_operacion"])]

#fecha_formateada = pd.Timestamp.now().strftime("%Y%m%d%H%M%S")

df_22.shape

(1572034, 7)