In [12]:
import pandas as pd

df_18 = pd.read_csv('MIGTAB020.csv',sep="|")
df_columns_18 = pd.read_csv('Campos MIGTAB020.csv',sep=";")
df_18.drop('Unnamed: 16',axis=1,inplace= True)
df_18.columns = df_columns_18['NombreColumna'].tolist()

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

In [16]:
df_18[df_18['di_operacion'] == 20911 ]

         di_operacion  di_dividendo di_fecha_ini di_fecha_ven di_de_capital di_de_interes  di_gracia  di_gracia_disp  di_estado  di_dias_cuota  di_intento di_prorroga di_fecha_can  di_subs_cuota  di_subs_acumulado  di_compra_int_vendedor
1665355         20911             1   2024/03/07   2024/04/22             S             S          5               0          3             43           0           N   2024/04/19            0.0                0.0                       0
1665356         20911             2   2024/04/20   2024/05/20             S             S          5               0          3             30           0           N   2024/05/20            0.0                0.0                       0
1665357         20911             3   2024/05/20   2024/06/20             S             S          5               0          3             30           0           N   2024/06/20            0.0                0.0                       0
1665358         20911             4   2024/06/20   2024/07/22             S             S          5               0          3             30           0           N   2024/07/19            0.0                0.0                       0
1665359         20911             5   2024/07/20   2024/08/20             S             S          5               0          3             30           0           N   2024/08/20            0.0                0.0                       0
1665360         20911             6   2024/08/20   2024/09/20             S             S          5               0          3             30           0           N   2024/09/20            0.0                0.0                       0
1665361         20911             7   2024/09/20   2024/10/21             S             S          5               0          3             30           0           N   2024/10/18            0.0                0.0                       0
1665362         20911             8   2024/10/20   2024/11/20             S             S          5               0          2             30           0           N          NaN            0.0                0.0                       0
1665363         20911             9   2024/11/20   2024/12/20             S             S          5               0          2             30           0           N          NaN            0.0                0.0                       0
1665364         20911            10   2024/12/20   2025/01/20             S             S          5               0          2             30           0           N          NaN            0.0                0.0                       0
1665365         20911            11   2025/01/20   2025/02/20             S             S          5               0          2             30           0           N          NaN            0.0                0.0                       0
1665366         20911            12   2025/02/20   2025/03/20             S             S          5               0          2             30           0           N          NaN            0.0                0.0                       0
1665367         20911            13   2025/03/20   2025/04/20             S             S          5               0          1             30           0           N          NaN            0.0                0.0                       0
1665368         20911            14   2025/04/20   2025/05/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665369         20911            15   2025/05/20   2025/06/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665370         20911            16   2025/06/20   2025/07/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665371         20911            17   2025/07/20   2025/08/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665372         20911            18   2025/08/20   2025/09/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665373         20911            19   2025/09/20   2025/10/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665374         20911            20   2025/10/20   2025/11/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665375         20911            21   2025/11/20   2025/12/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665376         20911            22   2025/12/20   2026/01/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665377         20911            23   2026/01/20   2026/02/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665378         20911            24   2026/02/20   2026/03/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665379         20911            25   2026/03/20   2026/04/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665380         20911            26   2026/04/20   2026/05/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665381         20911            27   2026/05/20   2026/06/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665382         20911            28   2026/06/20   2026/07/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665383         20911            29   2026/07/20   2026/08/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665384         20911            30   2026/08/20   2026/09/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665385         20911            31   2026/09/20   2026/10/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665386         20911            32   2026/10/20   2026/11/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665387         20911            33   2026/11/20   2026/12/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665388         20911            34   2026/12/20   2027/01/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665389         20911            35   2027/01/20   2027/02/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665390         20911            36   2027/02/20   2027/03/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665391         20911            37   2027/03/20   2027/04/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665392         20911            38   2027/04/20   2027/05/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665393         20911            39   2027/05/20   2027/06/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665394         20911            40   2027/06/20   2027/07/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665395         20911            41   2027/07/20   2027/08/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665396         20911            42   2027/08/20   2027/09/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665397         20911            43   2027/09/20   2027/10/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665398         20911            44   2027/10/20   2027/11/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665399         20911            45   2027/11/20   2027/12/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665400         20911            46   2027/12/20   2028/01/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665401         20911            47   2028/01/20   2028/02/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665402         20911            48   2028/02/20   2028/03/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665403         20911            49   2028/03/20   2028/04/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665404         20911            50   2028/04/20   2028/05/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665405         20911            51   2028/05/20   2028/06/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665406         20911            52   2028/06/20   2028/07/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665407         20911            53   2028/07/20   2028/08/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665408         20911            54   2028/08/20   2028/09/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665409         20911            55   2028/09/20   2028/10/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665410         20911            56   2028/10/20   2028/11/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665411         20911            57   2028/11/20   2028/12/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665412         20911            58   2028/12/20   2029/01/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665413         20911            59   2029/01/20   2029/02/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665414         20911            60   2029/02/20   2029/03/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665415         20911            61   2029/03/20   2029/04/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665416         20911            62   2029/04/20   2029/05/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665417         20911            63   2029/05/20   2029/06/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665418         20911            64   2029/06/20   2029/07/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665419         20911            65   2029/07/20   2029/08/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665420         20911            66   2029/08/20   2029/09/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665421         20911            67   2029/09/20   2029/10/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665422         20911            68   2029/10/20   2029/11/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665423         20911            69   2029/11/20   2029/12/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665424         20911            70   2029/12/20   2030/01/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665425         20911            71   2030/01/20   2030/02/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0
1665426         20911            72   2030/02/20   2030/03/20             S             S          5               0          0             30           0           N          NaN            0.0                0.0                       0

In [9]:
df_columnasObligatorias = df_columns_18[df_columns_18['Obligatorio'] == 'S']['NombreColumna'].tolist()
df_Final = df_18[df_columnasObligatorias]
#df_Final.shape
nulos = df_Final.isnull().sum().reset_index()
nulos.columns = ['NombreColumna','CantidadNulos']
df_Columnas = nulos[nulos['CantidadNulos']> 0 ]['NombreColumna'].head(4).tolist()
nulos[nulos['CantidadNulos']> 0 ]

   NombreColumna  CantidadNulos
12  di_fecha_can        1637612

In [36]:
df_18['di_fecha_ini'] = pd.to_datetime(df_18['di_fecha_ini'], errors='coerce')
df_18['di_fecha_ven'] = pd.to_datetime(df_18['di_fecha_ven'], errors='coerce')

In [38]:

df_18[df_18['di_fecha_ini'].isna()].head(10)

Empty DataFrame
Columns: [di_operacion, di_dividendo, di_fecha_ini, di_fecha_ven, di_de_capital, di_de_interes, di_gracia, di_gracia_disp, di_estado, di_dias_cuota, di_intento, di_prorroga, di_fecha_can, di_subs_cuota, di_subs_acumulado, di_compra_int_vendedor, Val_fecha_ini, fecha_valida]
Index: []