In [1]:
import pandas as pd

df_18 = pd.read_csv('../MIGTAB022X.csv',sep="|")
df_columns_18 = pd.read_csv('../Campos MIGTAB022X.csv',sep=";")
df_18.columns = df_columns_18['NombreColumna'].tolist()

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

In [4]:
df_18.sort_values(by="ts_porcentaje_efa",ascending=False).head(5)

         ts_operacion  ts_dividendo  ts_fecha ts_concepto  ts_porcentaje  ts_secuencial  ts_porcentaje_efa
1144772         21078            20  20250705         INT          24.86             20            27.8976
1203220         22267            52  20280425         INT          24.86             52            27.8976
1203307         22270            21  20250925         INT          24.86             21            27.8976
1203306         22270            20  20250825         INT          24.86             20            27.8976
1203305         22270            19  20250725         INT          24.86             19            27.8976

In [4]:
df_columnasObligatorias = df_columns_18[df_columns_18['Obligatorio'] == 'S']['NombreColumna'].tolist()
df_Final = df_18[df_columnasObligatorias]
#df_Final.shape
nulos = df_Final.isnull().sum().reset_index()
nulos.columns = ['NombreColumna','CantidadNulos']
df_Columnas = nulos[nulos['CantidadNulos']> 0 ]['NombreColumna'].head(4).tolist()
nulos[nulos['CantidadNulos']> 0 ]

Empty DataFrame
Columns: [NombreColumna, CantidadNulos]
Index: []

In [11]:
df_18['ts_fecha'] = pd.to_datetime(df_18['ts_fecha'].astype(str), format='%Y%m%d')
df_18['ts_fecha'] = pd.to_datetime(df_18['ts_fecha'], errors='coerce')

In [12]:
df_18['ts_fecha'].head(100)

0    2017-10-13
1    2017-11-30
2    2017-11-30
3    2017-11-28
4    2017-11-28
5    2017-11-30
6    2017-11-30
7    2025-01-05
8    2025-02-05
9    2025-03-05
10   2025-04-05
11   2025-05-05
12   2025-06-05
13   2025-07-05
14   2025-08-05
15   2025-09-05
16   2025-10-05
17   2025-11-05
18   2025-12-05
19   2026-01-05
20   2025-01-05
21   2025-02-05
22   2025-03-05
23   2025-04-05
24   2025-05-05
25   2025-06-05
26   2025-07-05
27   2025-08-05
28   2025-09-05
29   2025-10-05
30   2025-11-05
31   2025-12-05
32   2026-01-05
33   2026-02-05
34   2026-03-05
35   2026-04-05
36   2026-05-05
37   2025-01-20
38   2025-02-20
39   2025-03-20
40   2025-04-20
41   2025-05-20
42   2025-06-20
43   2025-07-20
44   2025-08-20
45   2025-09-20
46   2025-10-20
47   2025-11-20
48   2025-12-20
49   2026-01-20
50   2026-02-20
51   2026-03-20
52   2026-04-20
53   2026-05-20
54   2026-06-20
55   2026-07-20
56   2026-08-20
57   2026-09-20
58   2026-10-20
59   2026-11-20
60   2026-12-20
61   2027-01-20
62   2027-02-20
63   2027-03-20
64   2027-04-20
65   2027-05-20
66   2027-06-20
67   2027-07-20
68   2027-08-20
69   2027-09-20
70   2027-10-20
71   2027-11-20
72   2027-12-20
73   2028-01-20
74   2028-02-20
75   2028-03-20
76   2028-04-20
77   2028-05-20
78   2028-06-20
79   2028-07-20
80   2028-08-20
81   2028-09-20
82   2028-10-20
83   2028-11-20
84   2028-12-20
85   2029-01-20
86   2029-02-20
87   2029-03-20
88   2029-04-20
89   2029-05-20
90   2029-06-20
91   2029-07-20
92   2029-08-20
93   2029-09-20
94   2029-10-20
95   2029-11-20
96   2029-12-20
97   2030-01-20
98   2030-02-20
99   2030-03-20
Name: ts_fecha, dtype: datetime64[ns]