In [2]:
import pandas as pd

df_18 = pd.read_csv('../MIGTABO24X.csv',sep="|",header=None)
df_columns_18 = pd.read_csv('Campos MIGTAB024.csv',sep=";")
df_18.columns = df_columns_18['NombreColumna'].tolist()

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

C:\Users\GTC-88\AppData\Local\Temp\ipykernel_18256\896798113.py:3: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_18 = pd.read_csv('../MIGTABO24X.csv',sep="|",header=None)

In [6]:
df_columns_18.shape

(7, 2)

In [4]:
df_columns_18

  NombreColumna Obligatorio
0  da_operacion           S
1   da_nemonico           S
2        da_int           N
3   da_currency           N
4      da_float           N
5       da_date           N
6     da_string           N

In [3]:
cs18 = df_18.head(10)
cs18.to_csv("../24.csv")

In [ ]:
import pandas as pd

# Cargar archivo CSV
df_24 = df_18

# Convertir columnas relevantes a sus tipos apropiados
df_24["da_operacion"] = pd.to_numeric(df_24["da_operacion"], errors="coerce")

# Lista para acumular errores
errores = []

# Validación 1: da_id_interno_credito no puede ser NULL ni 0
val = df_24["da_operacion"].isnull() | (df_24["da_operacion"] == 0)
errores.append(df_24[val][["da_operacion"]].assign(campo_error="da_operacion"))

# Validación 2: da_codigo_dato_adicional no puede ser NULL
val = df_24["da_codigo_dato_adicional"].isnull() | (df_24["da_codigo_dato_adicional"].str.strip() == "")
errores.append(df_24[val][["da_id_interno_credito"]].assign(campo_error="da_codigo_dato_adicional"))

# Concatenar errores
df_errores_24 = pd.concat(errores, ignore_index=True).drop_duplicates()

# Mostrar los errores
print(df_errores_24)