In [1]:
import pandas as pd

df_18 = pd.read_csv('MIGTAB024.csv',sep="|",header=None)
df_columns_18 = pd.read_csv('Campos MIGTAB024.csv',sep=";")
df_18.columns = df_columns_18['NombreColumna'].tolist()

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)

In [2]:
df_18.head(10)

   da_operacion          da_nemonico  da_int  da_currency  da_float  da_date da_string
0          6374            SUBS_TIPO     NaN          NaN       NaN      NaN         N
1          6374           SUBS_VALOR     NaN          NaN       NaN      NaN       NaN
2          6374          SUBS_MOTIVO     NaN          NaN       NaN      NaN       NaN
3          6374  SUBS_PERDIDA_MOTIVO     NaN          NaN       NaN      NaN       NaN
4          6374   SUBS_PERDIDA_FECHA     NaN          NaN       NaN      NaN       NaN
5          6374     SUBS_PLAZO_MESES     NaN          NaN       NaN      NaN       NaN
6          6374    SUBS_DIAS_PERDIDA     NaN          NaN       NaN      NaN       NaN
7          6374      CONTADOR_ALIVIO     NaN          NaN       NaN      NaN       NaN
8          6374         FECHA_ALIVIO     NaN          NaN       NaN      NaN       NaN
9          6374  FECHA_FORMALIZACION     NaN          NaN       NaN      NaN       NaN

In [3]:
df_columnasObligatorias = df_columns_18[df_columns_18['Obligatorio'] == 'S']['NombreColumna'].tolist()
df_Final = df_18[df_columnasObligatorias]
#df_Final.shape
nulos = df_Final.isnull().sum().reset_index()
nulos.columns = ['NombreColumna','CantidadNulos']
df_Columnas = nulos[nulos['CantidadNulos']> 0 ]['NombreColumna'].head(4).tolist()
nulos[nulos['CantidadNulos']> 0 ]

Empty DataFrame
Columns: [NombreColumna, CantidadNulos]
Index: []